<html>
<body>
    <div class="login">
       <h1>Car price prediction</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Car price prediction</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Fuel Type</label>
            <select class="form-control" name="Fuel_Type" placeholder="Enter the Fuel type" required>
                <option class="placeholder" selected disabled value="">Select the Fuel Type</option>
                <option value="Petrol">
                    Petrol
                </option>
                <option value="Diesel">
                    Diesel
                </option>
                <option value="CNG">
                    CNG
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Seller Type</label>
            <select class="form-control" name="Seller_Type" placeholder="Enter the seller type" required>
                <option class="placeholder" selected disabled value="">Select the seller type</option>
                <option value="Dealer">
                    Dealer
                </option>
                <option value="Individual">
                    Individual
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Transmission</label>
            <select class="form-control" name="Transmission"
                placeholder="Enter the Transmission type" required>
                <option class="placeholder" selected disabled value="">Select the Transmission type</option>
                <option value="Manual">
                    Manuel
                </option>
                <option value="Automatic">
                    Automatic
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Age of vehicule</label>
            <input class="form-control" type="number" name="age"
                placeholder="Enter the age of the vehicule" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Previous purchase price</label>
            <input class="form-control" type="number" name="Present_Price"
                placeholder="Enter the previous purchase price"  />
        </div>
        <div class="mb-3">
            <label class="form-label">Number of Kms driven</label>
            <input class="form-control" type="number" name="Kms_Driven"
                placeholder="Enter the number of Kms driven"  />
        </div>
        <div class="mb-3">
            <label class="form-label">Number of previous owners</label>
            <input class="form-control" type="number" name="Owner"
                placeholder="Enter the Number of previous owners"  />
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict the price of the car" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>